
.topnav {
    background-color:  #7367f0!important
}
.topnav  .nav-link {
    color: white !important;
}
.topnav .dropdown-toggle::after {
    display: none !important;
}
.topnav img {
    height: 70px;
    width: 70px;
}
.topnav span {
    font-size: 30px !important;
}
.topnav .dropdown-menu {
    width: 18rem;
  margin-left: -10rem;
  margin-top: 2rem !important;
  border-radius: 5px;
  padding: 0.8rem;
  box-shadow: 0px 0px 2px rgb(156, 154, 154);
}
.topnav .dropdown-menu i {
    background-color:rgb(230, 242, 254) ;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 7px 7px;
}
.topnav .dropdown .dropdown-toggle:focus {
   outline: none !important;
   box-shadow: none !important;
}
.topnav .dropdown .dropdown-toggle span {
    margin-left: 7rem;
   
    
}
.topnav .dropdown .dropdown-toggle span i {
    background-color: #fff !important;
}
.topnav .dropdown .sub-menu {
    margin-top: 10px !important;
}
@media(max-width: 768px) {
    .topnav img{
        width: 90px;
        height: 90px;
    }
    .topnav span {
        font-size: 20px !important;
    }
    .topnav .dropdown-menu {
        margin-left: 0;
        margin-top: 0 !important;
    }
}