
.dashboard {
    background-color: aliceblue;
    overflow: hidden;
}
.right-report-container {
    margin-top: 10rem;
    
    
}
.right-report-container .row .col-sm-4{
    padding: 1rem;
}
.right-report-container .row .col-sm-4 .card{
    box-shadow: 0px 0px 4px black;
}
.right-report-container .row .col-sm-4 .card:hover{
    box-shadow: 0px 0px 2px black;
    transition: all 0.4s ease 0s;
    transform: scale(1.02);
}
@media(max-width:768px){
    .right-report-container{
        transform: scale(0.6);
        

    }
}
@media(max-width:420px){
    .right-report-container {
        margin-top: -10rem;
    }
}